@model IndexViewModel

@{
    ViewData["Title"] = "Сторінка проектів";

    string state = "";
}

<br />
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Manage" asp-action="Index">Основна панель</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Option">Налаштування користувача</a>
    </li>
</ul>
<br />
<div class="row">
    <div class="col-sm-3">
        <!-- Add new user -->
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProject">
            Додати проект
        </button>

        <!-- The Modal -->
        <div class="modal" id="addProject">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Додати проект</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form asp-controller="Account" asp-action="ProjectRegister" method="post">
                            <div class="form-group">
                                <label asp-for="Project.Name">Назва:</label>
                                <input asp-for="Project.Name" class="form-control" placeholder="Введіть назву">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.Description">Опис:</label>
                                <input asp-for="Project.Description" class="form-control" placeholder="Введіть опис">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.DateOfStartProject">Дата початку:</label>
                                <input asp-for="Project.DateOfStartProject" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.DateOfEndProject">Дата закінчення:</label>
                                <input asp-for="Project.DateOfEndProject" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.LocationOfProject">Локація:</label>
                                <input asp-for="Project.LocationOfProject" class="form-control" placeholder="Введіть локацію">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.TypeOfProject">Тип:</label>
                                <select asp-for="Project.TypeOfProject" class="form-control">
                                    @foreach (TypeOfProject typeOfProject in @Model.TypesOfProject)
                                    {
                                        <option>@typeOfProject.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.SectionOfProject">Секція:</label>
                                <select asp-for="Project.SectionOfProject" class="form-control">
                                    @foreach (SectionOfProject sectionOfProject in @Model.SectionsOfProject)
                                    {
                                        <option>@sectionOfProject.Name</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Додати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        @foreach (Project project in @Model.Projects)
        {
            @switch (project.State)
            {
                case StateOfProject.None:
                    {
                        state = "в очікуванні";
                        break;
                    }
                case StateOfProject.InProcess:
                    {
                        state = "в процесі";
                        break;
                    }
                case StateOfProject.Done:
                    {
                        state = "завершенно";
                        break;
                    }
            }

            <div class="card">
                <div class="card-body">
                    <h1>
                        @project.Name - @state
                    </h1>
                    <small>Опис: @project.Description</small><br />
                    <small>Тип: @project.TypeOfProject</small><br />
                    <small>Початок: @project.DateOfStartProject</small><br />
                    <small>ЗАвершення: @project.DateOfEndProject</small><br />
                    <small>Секція: @project.SectionOfProject</small><br />

                    <blockquote class="blockquote">
                        <footer class="blockquote-footer">м. Львів, вул. Університетська 1</footer>
                    </blockquote>

                    <a asp-action="Groups" asp-controller="Manage" asp-route-manageProjectId="@project.Id" class="card-link">Керувати</a>
                    <a asp-action="Project" asp-controller="Manage" asp-route-manageProjectId="@project.Id" class="card-link">Редагувати</a>
                    <a asp-action="ProjectRemove" asp-controller="Account" asp-route-manageProjectId="@project.Id" class="card-link">Видалити</a>
                </div>
            </div>
            <br />
            <br />
        }
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label>Стан проекту:</label>
            <select class="form-control">
                @foreach (string s in @Model.FiltersOfState)
                {
                    <option>@s</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Оновити</button>
    </div>
</div>
