@model IndexViewModel

@{
    ViewData["Title"] = "Основна панель";
}

<br />
<div class="row">
    <div class="col-sm-3">
        <!-- Add new user -->
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProject">
            Додати проект
        </button>

        <!-- The Modal -->
        <div class="modal" id="addProject">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Додати проект</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form asp-controller="Account" asp-action="ProjectRegister" method="post">
                            <div class="form-group">
                                <label asp-for="Project.Name">Назва:</label>
                                <input asp-for="Project.Name" class="form-control" placeholder="Введіть назву">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.Description">Опис:</label>
                                <input asp-for="Project.Description" class="form-control" placeholder="Введіть опис">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.DateOfProject">Дата:</label>
                                <input asp-for="Project.DateOfProject" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="autocomplete">Локація:</label>
                                <input id="autocomplete" onFocus="geolocate()" class="form-control" placeholder="Введіть локацію">
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.TypeOfProject">Тип:</label>
                                <select asp-for="Project.TypeOfProject" class="form-control">
                                    @foreach (TypeOfProject typeOfProject in @Model.TypesOfProject)
                                    {
                                        <option>@typeOfProject.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Project.SectionOfProject">Секція:</label>
                                <select asp-for="Project.SectionOfProject" class="form-control">
                                    @foreach (SectionOfProject sectionOfProject in @Model.SectionsOfProject)
                                    {
                                        <option>@sectionOfProject.Name</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Додати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        @foreach (Project project in @Model.Projects)
        {
            <div class="card">
                <div class="card-body">
                    <h1>@project.Name - @project.State</h1>
                    <small>Опис: @project.Description</small><br />
                    <small>Кількість волонтерів: @project.CountOfVolunteers</small><br />
                    <small>Максимальна кількість волонтерів: @project.</small><br />

                    <blockquote class="blockquote">
                        <p>Помешкання:</p>
                        <footer class="blockquote-footer">@project.LocationOfProject</footer>
                    </blockquote>

                    <button id="edit_@project.Id" type="button" class="btn btn-link">Редагувати</button>
                    <button id="delete_@project.Id" type="button" class="btn btn-link">Видалити</button>
                </div>
            </div>
            <br />
        }
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label>Стан проекту:</label>
            <select class="form-control">
                @foreach (string state in @Model.FiltersOfState)
                {
                    <option>@state</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Оновити</button>
    </div>
</div>
